<config>
	<modules>
		<Magehacksf_Kindred>
			<version>0.0.1</version>
		</Magehacksf_Kindred>
	</modules>
	<global>
		<models>
			<kindred>
				<class>Magehacksf_Kindred_Model</class>
			</kindred>
		</models>
		<helpers>
			<kindred>
				<class>Magehacksf_Kindred_Helper</class>
			</kindred>
		</helpers>
		<blocks>
			<kindred>
				<class>Magehacksf_Kindred_Block</class>
			</kindred>
		</blocks>
        <resources>
            <kindred_setup>
                <setup>
                    <module>Magehacksf_Kindred</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kindred_setup>
            <kindred_write>
                <use>core_write</use>
            </kindred_write>
            <kindred_read>
                <use>core_read</use>
            </kindred_read>
        </resources>
	</global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kindred>
                                            <title>Kindred Configuration</title>
                                        </kindred>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <kindred>
                <use>standard</use>
                <args>
                    <module>Magehacksf_Kindred</module>
                    <frontName>kindred</frontName>
                </args>
            </kindred>
        </routers>
        <events>
        </events>
        <layout>
            <updates>
                <kindred>
                    <file>Kindred.xml</file>
                </kindred>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magehacksf_Kindred before="Mage_Adminhtml">Magehacksf_Kindred_Adminhtml</Magehacksf_Kindred>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <kindred>
            <general>
                <enable>1</enable>
                <mongoapikey>QBn1YAgdpJkLdM0iLhppg9zC3l6n98Eg</mongoapikey>
                <mongourl>https://api.mongolab.com/api/1/databases/kindred/collections/hackathon/</mongourl>
            </general>
        </kindred>
    </default>
</config>